body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 255, 0);
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color:rgb(1, 151, 1); ;
}


.bg1{
    background-image: url("/public/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.bg2{
    background-image: url("/public/bg2.jpg");
    background-position: center;
    background-size: cover;
}

.font-style{
    font-family: 'Chakra Petch', sans-serif;
}


.card{
    transition: transform 2000ms;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-front,
.card-back{
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(-180deg);
}

@keyframes animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animation {
    animation: animation 8s linear infinite;
  }

.font-style{
    font-family: 'Chakra Petch', sans-serif;
}


.card{
    transition: transform 2000ms;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-front,
.card-back{
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(-180deg);
}

@keyframes animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animation {
    animation: animation 8s linear infinite;
  }